.sponsors {
  margin-bottom: 2em;

  img {
    display: inline-block;
    margin: 0 20px 15px;
  }
}

.global-footer {
  background: $blue;
  color: $white;
  font-size: 18px;

  a {
    color: $white;

    &[class^='icon-'] {
      text-decoration: none;
      font-size: 26px;
      vertical-align: -4px;
      padding: 0 5px;
    }

    &:hover {
      color: $gold-lighter;
    }
  }

  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .btn {
    margin-left: 14px;

    &:hover {
      color: $white;
    }
  }

  .navbar-nav {
    li {
      display: block;
      float: none;

      &.btn {
        text-align: left;
        margin-left: 0;
      }

      a {
        text-decoration: none;
        text-transform: uppercase;

        br {
          display: none;
        }

        &:hover {
          background: $blue-light;
          color: $white;
        }
      }
    }
  }
}

.below-footer {
  background: $white;
  color: $text-color;
  font-size: 16px;

  .container {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  a {
    color: $text-color;

    &:hover {
      color: $blue-light;
    }
  }
}
