.banner {
  padding: 10px;
}

.navbar-header {
  position: relative;
  z-index: 5;
}

.navbar-brand {
  width: 289px;
  padding: 0;
  height: auto;
  overflow: hidden;

  @media (max-width: 1125px) {
    width: 240px;
  }
}

.navbar {
  padding-top: 31px;

  a {
    font-size: 18px;
    text-decoration: none;
    font-family: $font-family-sans-serif;
    cursor: pointer;

    @media (min-width: $screen-md-min) {
      .caret {
        display: none;
      }
    }
  }

  .open.open > a {
    color: $teal;
  }

  @media (max-width: 1125px) {
    padding-top: 21px;
  }

  .navbar-nav > li > a {
    color: $gray;
    background: none !important;

    &:hover {
      color: $teal;
    }

    @media (max-width: 1125px) {
      font-size: 16x;
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.navbar-toggle {
  margin-top: 22px;
}

.dropdown {
  ul.dropdown-menu {
    text-transform: none;
    width: 230px;
    left: 0;
    right: auto;
    border-radius: 0;

    & > li > a {
      white-space: normal;
      font-size: 16px;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  &:hover {
    & > a {
      color: $teal !important;
    }

    @media (min-width: $screen-md-min) {
      & > ul.dropdown-menu {
        display: block;
        margin-top: -1px;
      }
    }
  }
}
