.block-post.resource {
  display: flex;
  width: 100%;
  @include make-sm-column(4);
  @include make-lg-column(3);

  .entry-header {
    background-color: $yellow-lightest;
    color: $gray-dark;
    width: 100%;
    padding: 10px;
    transition: all .3s ease;

    .post-title {
      margin-bottom: .5em;
      font-size: 18px;
    }

    .meta {
      display: block;
      color: $brown;
      font-size: .8em;
      font-family: $font-family-serif;
      font-weight: bold;
    }
  }

  &:hover {
    .entry-header {
      background-color: $brown-lightest;
      transform: scale(1.025);

      @media (min-width: $screen-sm-min) {
        transform: scale(1.1);
      }
    }

    .post-title {
      color: $gray-dark;
    }
  }
}

.single-resource {
  h2.entry-title {
    margin: 0;
  }

  .entry-meta {
    color: $teal;
    font-size: 14px;
    font-family: $font-family-sans-serif;
  }
}
