.sidebar {
  .nav {
    font-family: $font-family-sans-serif;
    margin-bottom: 0;
    line-height: 1;

    &.has-padding, .sub-menu {
      list-style-type: square;
      padding-left: 27px;
    }

    li {
      display: list-item;

      a {
        color: $gray-dark;
        text-decoration: none;
        display: block;
        white-space: normal;
        font-size: 16px;
        padding: 7px 0;

        &:hover, &:active, &:focus {
          color: $teal;
          text-decoration: underline;
          background: none;
        }
      }

      &.active > a {
        color: $teal;
      }
    }

    & > .menu-item:not(.active) {
      display: none;
    }
  }

  h4, .h4, .nav > .active.active > a {
    background: $teal;
    color: $white;
    font-size: $font-size-h4;
    text-decoration: none;
    cursor: default;
    position: relative;
    margin: 0 0 .5em;
    padding: 10px 15px;
    border-radius: 0;
    border: 0;

    &:before {
      content: '';
      position: absolute;
      right: -11px;
      top: 0;
      height: 100%;
      border-style: solid;
      border-color: transparent transparent transparent $teal;
      border-width: 19px 0 0 11px;
    }

    &:hover {
      background: $teal;
    }
  }

  .back-all {
    text-decoration: none;
    padding-left: 19px;
  }
}

.well {
  background: $teal-lightest;
  border: none;
  border-radius: 0;
  position: relative;
  width: calc(100% - 22px);

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    top: 0;
    height: 100%;
    border-style: solid;
    border-color: transparent transparent transparent $teal-lightest;
    border-width: 37.5px 0 0 21.8px;
  }
}

.accordion {
  .panel {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .panel-heading {
    a {
      display: block;
      color: $white;
      text-decoration: none;
    }
  }
}
