@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "common/typography";

@import "components/blocks";
@import "components/buttons";
@import "components/chapters";
@import "components/forms";
@import "components/icons";
@import "components/magnific-popup";
@import "components/media";
@import "components/owl-carousel";
@import "components/pagination";
@import "components/social-share-buttons";
@import "components/wp-classes";
//
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
//
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/maps";
@import "layouts/resources";
@import "layouts/home";
//
@import "layouts/data-dashboard";
//
@import "layouts/tinymce";
