.btn.btn {
  background: $gold;
  font-family: $font-family-sans-serif;
  border-radius: 0;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
  transition: all .3s ease;
  box-shadow: none !important;

  &.menu-item {
    margin-left: 15px;
    padding: 0;
    z-index: inherit;

    @media (max-width: $screen-sm-max) {
      max-width: 200px;
    }

    & > a, a:hover, a:focus, a:active {
      // color: $white;
      // padding: 10px 15px;
      border: none;
    }
  }

  &:hover {
    background: darken($gold, 5%);
  }

  &:focus {
    outline: none;
  }
}

.btn.btn-skew {
  @extend .skew;
  background: none;
  font-size: 18px;

  &:before {
    @include rust-right;
    background-size: 200% 100%;
    background-position: 0 0;
    transition: background-position .4s ease;
  }

  &:hover {
    background: none;

    &:before {
      background-position: 100% 0;
    }
  }
}

.btn.btn-lg {
  font-size: 1.25em;
  padding-left: 30px;
  padding-right: 30px;
}

.btn.btn-gold:before {
  @include gold-dark-right;
}

.donately-submit {
  @extend .btn;
  @extend .btn-skew;
}

.btn.btn-dark {
  &:before {
    @include blue-dark-right;
  }
}
