.social-share-modal {
  a.icon-share {
    position: fixed;
    width: 48px;
    height: 48px;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: $teal-lighter;
    text-decoration: none;
    color: $white;

    &:before {
      position: absolute;
      font-size: 32px;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }

    @media (min-width: $screen-sm-min) {
      bottom: 0;
    }

    @media (min-width: $screen-md-min) {
      display: none;
    }
  }

  .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;

    .social-share-link {
      display: inline-block;
    }
  }

  @media screen and (orientation:portrait) {
    body:not(.single-data-viz):not(.post-type-archive-data) & {
      .modal-dialog {
        width: 100px;
        margin-top: -240px;
        margin-left: -50px;
      }
    }
  }

  @media screen and (orientation:landscape) {
    .modal-dialog {
      width: 480px;
      margin-top: -50px;
      margin-left: -240px;
    }
  }

  .single-data-viz &, .post-type-archive-data & {
    .modal-dialog {
      max-width: 480px;
      margin-top: -175px;
      margin-left: -240px;

      @media (max-width: 480px) {
        width: 100%;
        margin-left: -50%;
      }
    }
  }
}

.social-share-buttons {
  display: none;

  @media (min-width: $screen-md-min) {
    display: block;
    position: fixed;
    left: 0;
    top: 30%;
    z-index: 100;
    background: $white-80;

    .count {
      font-family: $font-family-sans-serif;
      font-weight: 300;
      font-size: 19px;
      text-align: center;
      width: 100%;
      line-height: 1.2;

      .num {
        display: block;
        font-size: 28px;
        font-family: $font-family-sans-serif;
      }
    }
  }
}

.social-share-link {
  display: block;
  text-indent: -100em;
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: relative;
  text-decoration: none;
  margin: 16px auto;

  &:before {
    color: $white;
    text-indent: 0;
    position: absolute;
    font-size: 48px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  @media screen and (max-width: $screen-sm-max) and (orientation: landscape) {
    display: inline-block;
    margin: 0 8px;
  }

  @media (min-width: $screen-md-min) {
    margin: 0;
    width: 60px;
    height: 60px;

    &:before {
      font-size: 32px;
    }
  }

  &.icon-facebook {
    background: #3b5998;

    &:hover {
      background: darken(#3b5998, 10%);
    }
  }

  &.icon-twitter {
    background: #00aced;

    &:hover {
      background: darken(#00aced, 10%);
    }
  }

  &.icon-linkedin {
    background: #007bb6;

    &:hover {
      background: darken(#007bb6, 10%);
    }
  }

  &.icon-email {
    background: $teal-light;

    &:hover {
      background: darken($teal-light, 10%);
    }
  }
}
.other-share {
  @extend .social-share-link;

  &.icon-download {
    background: $rust-light;

    &:hover {
      background: darken($rust-light, 10%);
    }
  }

  &.icon-fax {
    background: $brown-lighter;

    &:hover {
      background: darken($brown-lighter, 10%);
    }
  }
}
