// Easy mixin for media queries
@mixin respondtoeach($media) {
  @if $media == xs {
    @media (max-width: $screen-xs-max) { @content; }
  }
  @if $media == sm {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {@content; }
  }
  @if $media == md {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content; }
  }
  @if $media == lg {
    @media (min-width: $screen-lg-min) { @content; }
  }
}

@mixin respondto($media...) {
  @each $mediatype in $media {
    @include respondtoeach($mediatype) {@content;}
  }
}

// Grid
.content {
  @include make-row();
}

.main {
  @include make-md-column(7);
  @include make-md-column-push(1);
  @include make-lg-column-push(0);
  margin-bottom: 2em;
}

.sidebar {
  @include make-md-column(3);
  @include make-md-column-push(1);
}

.container.narrow {
  @media (min-width: $screen-md-min) {
    width: 925px;
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}

@media (min-width: $screen-md-min) {
  .col-md-push-2point5 {
    left: 20.833333%;
  }

  .col-md-pull-1point5 {
    right: 12.5%;
  }

  .col-md-push-point5 {
    left: 4.166667%;
  }
}

.flex {
  display: flex;

  &.grid {
    flex-wrap: wrap;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .flex-sm {
    display: flex;
  }
}

@media (min-width: $screen-md-min) {
  .flex-md-up {
    display: flex;
  }
}

@media (min-width: $screen-sm-min) {
  .text-col-sm-2 {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
  }
}

@media (min-width: $screen-md-min) {
  .text-col-md-3 {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
  }
}

// Utilities
.extra-padding {
  padding: 10px 20px;
}

.no-padding {
  & > [class*=col] {
    padding-left: 0;
    padding-right: 0;
  }
}

.top-padding {
  padding-top: 10px;
}

.no-margin {
  margin: 0;
}

.no-top-margin {
  margin-top: 0 !important;
}

.top-margin {
  margin-top: 1em;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.bottom-margin {
  margin-bottom: 1em;
}

.bottom-margin-important {
  margin-bottom: 1em !important;
}

.extra-top-margin {
  margin-top: 2em;
}

.extra-bottom-margin {
  margin-bottom: 3em;
}

.vertical-center {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);

  * {
    margin: 0;
  }
}

.circle-image {
  img {
    border-radius: 50%;
  }
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap {
  white-space: nowrap;
}

.position-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

// Fixed background image
.fixed-background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  background-position: center;
  background-size: cover;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: $gray-dark-60;
    position: absolute;
    z-index: 100;
  }
}

.skew {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewX(30deg);
    z-index: -1;
  }
}

.notch-img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  overflow: hidden;

  .notch-inner {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 60.5% 35%;
    overflow: hidden;
    width: 112.5%;
    padding-bottom: 112.5%;
    height: 0;

    img {
      transform: rotate(-60deg);
      transform-origin: 68% 59%;
      width: 89%;
    }
  }
}

.has-notch {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-color: transparent $white transparent transparent;
    border-width: 0 21.8px 37.5px 0;
  }
}

.striped-line {
  background-image: repeating-linear-gradient(
    60deg,
    $teal,
    $teal 2px,
    transparent 2px,
    transparent 8px
  );
  height: 10px;
  position: relative;
  margin: 3em 0 3em;

  .h2 {
    background: $white;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    top: -15px;
    margin: 0;
    padding: 0 30px;
  }
}
